/*
* Select2 Custom Variables
*/

// Field height
$select2-field-height: calc(2.5rem + 2px);

// Color for the border while in focus
$select2-border-focus-color: #ffe8e0;

// Transition property for the border color and box shadow for a text field
$select2-border-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

// Box shadow for the focus on a text field
$select2-border-focus-shadow: 0 0 0 0.2rem rgba(255, 140, 96, 0.25);

// White
$select2-white: $white;

// Color for the dropdown arrow icon
$select2-arrow-color: $gray-800;

// Border radius property
$select2-border-radius: $border-radius;

// Primary color
$select2-success: $primary;

// Padding for the X axis
$select2-paddding-x: $input-padding-x;

// Color of the placeholder text
$select2-placeholder-color: $gray-600;

// Background color that displays in dropdown when an options is selected
$select2-selected-hover-color: $gray-400;

// Background color that displays in dropdown when
$select2-disabled-hover-color: $gray-400;

// Border color
$select2-border-color: $gray-500;

// Remove icon color
$select2-remove-icon-color: $gray-300;

// Remove icon color while hovering
$select2-remove-icon-color-hover: $gray-800;

.select2-container--default {
  @import "single";
  @import "multiple";

  .select2-dropdown {
      border-bottom-left-radius: $select2-border-radius;
      border-bottom-right-radius: $select2-border-radius;
  }

  &.select2-container--open.select2-container--above {
    .select2-selection--single, .select2-selection--multiple {
      border-top-left-radius: $select2-border-radius;
      border-top-right-radius: $select2-border-radius;
    }
  }

  &.select2-container--open.select2-container--below {
    .select2-selection--single, .select2-selection--multiple {
      border-bottom-left-radius: $select2-border-radius;
      border-bottom-right-radius: $select2-border-radius;
    }
  }

  .select2-search--dropdown {
    .select2-search__field {
      border: 1px solid $select2-border-color;
    }
  }

  .select2-search--inline {
    .select2-search__field {
      background: transparent;
      border: none;
      outline: 0;
      box-shadow: none;
      -webkit-appearance: textfield;
    }
  }

  .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
  }

  .select2-results__option {
    &[role=group] {
      padding: 0;
    }

    &[aria-disabled=true] {
      color: #999;
    }

    &[aria-selected=true] {
      background-color: $select2-selected-hover-color;
    }

    .select2-results__option {
      padding-left: $select2-paddding-x;

      .select2-results__group {
        padding-left: 0;
      }

      .select2-results__option {
        margin-left: -1em;
        padding-left: 2em;

        .select2-results__option {
          margin-left: -2em;
          padding-left: 3em;

          .select2-results__option {
            margin-left: -3em;
            padding-left: 4em;

            .select2-results__option {
              margin-left: -4em;
              padding-left: 5em;

              .select2-results__option {
                margin-left: -5em;
                padding-left: 6em;
              }
            }
          }
        }
      }
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: $select2-success !important;
    color: $select2-white;
  }

  .select2-results__options {
    .select2-container--krajee .select2-results__option--highlighted[aria-selected] {
      background-color: $select2-success !important;
      color: $select2-white !important;
    }
  }


  .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
  }
}
