// Font import
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

// Colours
$body-bg: #D9D9D9;

$primary: #13bf00;

// Fonts
$font-family-sans-serif: 'Raleway';

// Border Radius
$border-radius: 25px;