// Font import
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

// Colours
$body-bg: #f2f2f2;

$primary: #13bf00;

$green: #0d8000;
$dark-green: #064000;

$white: #FFF;
$off-white: #f2f2f2;

// Fonts
$font-family-sans-serif: 'Raleway';

// Border Radius
$border-radius: 25px;