.main-search {
    position: relative;

    input {
        width: 50% !important;
        border-radius: $border-radius;
        padding: 25px;
    }

    i {
        position: relative;
        left: -40px;
    }
}

.featured-text {
    h2 {
        font-size: 45px;
    }
}

.advert-message {
    position: absolute;
    bottom: 0;
    padding: 12px;
    width: 100%;
    background-color: $off-white;
    margin-bottom: 0;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.advert-message-top {
    position: absolute;
    top: 0;
    padding: 12px;
    width: 100%;
    background-color: $off-white;
    margin-bottom: 0;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.advert-con {
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}