.limelight-box-shadow {
    box-shadow: $box-shadow;
}

.limelight-lime::before {
    background: url('/images/whole-lime.svg');
    width: 25px;
    height: 25px;
    display: inline-block;
    content: "";
}

.limelight-lime-empty::before {
  background: url('/images/whole-lime.svg');
  opacity: 0.3;
  width: 25px;
  height: 25px;
  display: inline-block;
  content: "";
}

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.form-tooltip {
  .help-block {
    display: inline-block;
    margin-left: 5px;
  }
}

.banner {
    height: 375px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;

    &-logo {
        img {
            width: 300px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.text-dark-green {
  color: $dark-green !important;
}

.bg-dark-green {
  background-color: $dark-green !important;
}

#banner.h3 {
 margin-top: 50%
}

.home-nav {
    display: flex;
    flex-direction: row;
    background-color: red;
    padding: 30px;
    border-radius: $border-radius;
    margin: 0 auto;
    transform: translateY(-40%);
    width: 100%;

    @include media-breakpoint-up(md) {
        width: 40%;
    }

    &-item {
        text-align: center;
        flex: 1;
    }
}

.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

#mainNav {
    background-color: $off-white;
  }
  
  #mainNav .navbar-toggler {
    font-weight: 900;
    font-size: 12px;
    right: 0;
    padding: 13px;
    color: $primary;
    border: 0;
    background-color: $off-white;
  }
  
  #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: $off-white;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link {
    font-family: $font-family-sans-serif;
    font-weight: 900;
    font-size: 1.4em;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: $primary;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: $dark-green;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 25px;
      padding-bottom: 25px;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      transition: all 0.3s;
      width: 40% !important;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.3em 1em !important;
    }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $off-white;
    }
    #mainNav.navbar-shrink .navbar-brand {
      width: 303px !important;
    }
  }

  #center-heading {
    display:flex;
     align-items: center;
    justify-content: center;
  }

  
  #center-heading.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  
  #center-heading.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
  }
  
  #center-heading.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
  }
  
  @media (min-width: 768px) {
    #center-heading.masthead .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
    }
    #center-heading.masthead .intro-text .intro-lead-in {
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px;
    }
    #center-heading.masthead .intro-text .intro-heading {
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
    }
  }