.list-view {
    .sorter {
        list-style-type: none;
        padding: 0;

        li {
            padding: 10px;
            margin: 10px;
            display: inline-block;
            background-color: $primary;
            
            a {
                color: $white;

                &:hover {
                    text-decoration: none;
                }
            }

            a.desc::after {
                content: "\f0dd";
                font-family: FontAwesome;
                padding: 0 8px;
                font-size: 20px;
            }

            a.asc::after {
                content: "\f0de";
                font-family: FontAwesome;
                padding: 0 8px;
                font-size: 20px;
            }
        }
    }
}