.list-view {
    .sorter {
        list-style-type: none;
        padding: 0;

        li {
            margin: 10px;
            display: inline-block;
            
            a {
                padding: 10px;
                @extend .btn, .btn-primary;
            }

            a.desc::after {
                content: "\f0dd";
                font-family: FontAwesome;
                padding: 0 8px;
                font-size: 20px;
            }

            a.asc::after {
                content: "\f0de";
                font-family: FontAwesome;
                padding: 0 8px;
                font-size: 20px;
            }
        }
    }
}