.review-advanced-button[aria-expanded="false"], .review-view-button[aria-expanded="false"] {
    &::after {
        transition: transform .25s ease-in-out;
        content: '\f054';
        font-family: FontAwesome;
        padding: 0 5px;
        display: inline-block;
    }
}

.review-advanced-button[aria-expanded="true"], .review-view-button[aria-expanded="true"] {
    &::after {
        transform: rotate(90deg);
        transition: transform .25s ease-in-out;
        content: '\f054';
        font-family: FontAwesome;
        padding: 0 5px;
        display: inline-block;
    }
}

.view-criteria-container {
    .rating-stars .star {
        font-size: 25px;
    }
}

.review-edit-container {
    display: none;
}

.review-single-container {
    margin-top: 75px;
    margin-bottom: 75px;
}